.container {
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), 
    url("https://assets.nflxext.com/ffe/siteui/vlv3/61e79073-50cf-4f7b-9a23-73290e6f7dca/5083433d-7046-471a-891a-44a1fb41fe6e/VN-vi-20230410-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 620px;
    width: auto;
}

.header-contain {
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
.header-logo > img {
    height: 15px;
}

.header-select-btn {
    display: flex;
}
.language {
    background-color: black;
    color: #fff;
    width: 100px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 10px;
}

.language option {
    background-color: #fff;
}

.btn-login {
    background-color: #e50914;
    color: white;
    font-size: 10px; 
}

.content-text {
    margin: 70px 30px;
}

.content-text h1, h2 {
    color: white;
    text-align: center;
}
.content-text h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.input-group {
    position: relative;
}
input {
    height: 45px;
    width: 350px;
    opacity: 0.5;
    border-radius: 5px;
    background-color: black;
    color: #fff;
}

label {
    color: white;
    position: absolute;
    top: 15px;
    left: 10px;
    transition: 0.3s;
    pointer-events: none;
}

input:focus + label, 
input:not(:placeholder-shown) + label {
    top: -2px;
}

.email-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-start {
    background-color: #e50914;
    color: white;
    margin-left: 10px;
    width: 120px;
    height: 50px;
    position: relative;
    text-align: start;
    margin-top: 10px;
}

#icon-next {
    position: absolute;
    margin-left: 10px;
    color: aliceblue;
    font-size: 25px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), 
        url("https://assets.nflxext.com/ffe/siteui/vlv3/61e79073-50cf-4f7b-9a23-73290e6f7dca/5083433d-7046-471a-891a-44a1fb41fe6e/VN-vi-20230410-popsignuptwoweeks-perspective_alpha_website_large.jpg");
        height: 465px;
        width: auto;
    }

    .header-contain {
        display: flex;
        margin: 0 50px;
        justify-content: space-between;
        padding-top: 20px;
        align-items: center;
    }
    .header-logo > img {
        height: 15px;
    }
    
    .header-select-btn {
        display: flex;
    }
    .language {
        background-color: black;
        color: #fff;
        width: 100px;
        margin-right: 10px;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 10px;
    }
    
    .language option {
        background-color: #fff;
    }
    
    .btn-login {
        background-color: #e50914;
        color: white;
        font-size: 10px; 
    }
    
    .content-text {
        margin: 70px 30px;
    }
    
    .content-text h1, h2 {
        color: white;
        text-align: center;
    }
    .content-text h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .input-group {
        position: relative;
    }
    input {
        height: 45px;
        width: 500px;
        opacity: 0.5;
        border-radius: 5px;
        background-color: black;
        color: #fff;
    }
    
    label {
        color: white;
        position: absolute;
        top: 15px;
        left: 10px;
        transition: 0.3s;
        pointer-events: none;
    }
    
    input:focus + label, 
    input:not(:placeholder-shown) + label {
        top: -2px;
    }
    
    .email-start {
        display: flex;
        justify-content: center;
    }
    
    .btn-start {
        background-color: #e50914;
        color: white;
        margin-left: 10px;
        width: 120px;
        height: 50px;
        position: relative;
        text-align: start;
    }
    
    #icon-next {
        position: absolute;
        margin-left: 10px;
        color: aliceblue;
        font-size: 25px;
    }
}



@media screen and (min-width: 1024px) {
    .container {
        height: 780px;
        background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), 
        url("https://assets.nflxext.com/ffe/siteui/vlv3/61e79073-50cf-4f7b-9a23-73290e6f7dca/5083433d-7046-471a-891a-44a1fb41fe6e/VN-vi-20230410-popsignuptwoweeks-perspective_alpha_website_large.jpg");
        
    }
    
    .header-contain {
        display: flex;
        margin: 0 200px;
        justify-content: space-between;
        padding-top: 20px;
        align-items: center;
    }

    .content-text h1 {
        font-size: 56px;
        color: #fff;
        padding-top: 100px;
    }

    .header-logo > img {
        height: 45px;
    }
    
    .header-select-btn {
        display: flex;
    }
    
    .language {
        background-color: black;
        color: #fff;
        width: 150px;
        margin-right: 20px;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .language option {
        background-color: #fff;
    }
    
    .btn-login {
        background-color: #e50914;
        color: white;
        font-size: 15px;
    }
    
    .content-text {
        margin: 100px 200px;
    }
    
    .content-text h1, h2 {
        color: white;
        text-align: center;
    }
    
    .input-group {
        position: relative;
    }
    
    input {
        height: 60px;
        width: 500px;
        opacity: 0.5;
        border-radius: 5px;
        background-color: black;
        color: #fff;
    }
    
    label {
        color: white;
        position: absolute;
        top: 15px;
        left: 10px;
        transition: 0.3s;
        pointer-events: none;
    }
    
    input:focus + label, 
    input:not(:placeholder-shown) + label {
        top: -2px;
    }
    
    .email-start {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-start {
        background-color: #e50914;
        color: white;
        margin-left: 10px;
        width: 150px;
        position: relative;
        height: 65px;
        margin-top: 0;
        font-size: 23px;
    }
    
    #icon-next {
        position: absolute;
        margin-left: 5px;
        color: aliceblue;
        font-size: 33px;
    }
}